<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="images/logo.png" class="img-responsive">
    </div>
    <div class="container col-md-6">
      <p>Sign in</p>

      <form class="login">
        <div class="row">
          <label for="">E-Mail</label>
          <input name="email" type="text" id="login_email" required autofocus tabindex="1">
        </div>

        <div class="row">
          <label for="">Password</label>
          <input name="password" type="password" id="login_password" required autofocus tabindex="2">
        </div>
      </form>
      <div class="row">
          <input type="button" id="login" value="Login" class="btn btn-success" tabindex="3">
      </div>
    </div>
  </div>
</div>