<div class="container">
  <div class="col-md-5 col-md-offset-4">
    <p>Hello, {{username}}
      <button class="logout btn btn-default">Logout</button>
      <a href="#sprints">Sprints</a>
      <a href="#history">History</a>
    </p>
  </div>
</div>